.mainbar {
    position: absolute;
    left: 0;
    right: 0;
}

/* outlook */
#panels-container {
    background: none !important;
    border: none !important;
}

.startpage .startpage-navigation,
.UrlBar-AddressField,
.mainbar {
    background: var(--colorBg) !important;
    box-shadow: none !important;
    border: none !important;
}

.mainbar {
    z-index: -1
}

.mainbar:has(.UrlBar-AddressField:focus-within),
.toolbar-edit-mode .mainbar {
    z-index: 100
}