#panels-container {
    background: none !important;
    border: none !important;
}

.UrlBar-AddressField,
.mainbar {
    background: var(--colorBg) !important;
    box-shadow: none !important;
    border: none !important;
}
.startpage-navigation{
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}
/* hide panelbar */
.panel-collapse-guard {
    max-width: inherit !important;
}

div#switch {
    display: none;
}

.toolbar-edit-mode div#switch {
    display: flex !important;
}

div#panels-container.icons {
    width: 0px !important;
}

/* center urlbar */
input#urlFieldInput {
    text-align: center;
}

.UrlField {
    justify-content: space-around;
}