/*Structure*/
body{
    --mainbarwidth:350px;/*sidebar width*/
    --mainbarheight:122px;/*mainbar height*/
}
#browser{
    --one-background:var(--colorBgAlphaBlur);/*one-background-color*/
}
.tabbar-wrapper .tabbar-wrapper,div#panels-container {
    width: var(--mainbarwidth) !important;
}
div#tabs-tabbar-container{
    width: calc(var(--mainbarwidth) - 8px)!important;
}
.mainbar {
    height: var(--mainbarheight) !important;
    width: var(--mainbarwidth) !important;
}
.tabbar-wrapper .tabbar-wrapper,div#panels-container {
    padding-top: var(--mainbarheight);
}
.inner {
    position: absolute !important;
    width: 100%;
    height: 100%;
}
div#tabs-tabbar-container,.toolbar.toolbar-droptarget.toolbar-mainbar,.panel-group,.vivaldi-settings,.manager{/* one-panel */
    background: var(--colorBg) !important;
    
}
div#tabs-tabbar-container,.toolbar.toolbar-droptarget.toolbar-mainbar,.panel-group,div#webpage-stack,.UrlBar-AddressField.button-textonly.below {/* one-radius */
    border-radius: var(--radius);
}
div#webview-container {
    overflow: hidden;
}
div#webpage-stack {
    margin: 4px 4px 4px 0px;
    box-shadow: 0px 0px 0px 9px var(--one-background)!important;
}
.tab-header {
    color: var(--colorFg);
}
.toolbar.toolbar-droptarget.toolbar-mainbar,div#tabs-tabbar-container,.panel-group {
    margin: 4px;
    overflow: hidden;
}
.resize {
    padding-top: 4px;
}
.tabbar-wrapper .tabbar-wrapper {
    background-color: var(--one-background)!important;
}

/* Mainbar */
.vivaldi {
    padding: none !important;
    margin: none !important;
    height: 46px !important;
    width: 46px !important;
    position: absolute !important;
}
.mainbar {
    border-bottom: initial !important;
}
.toolbar {
    flex-wrap: wrap;
    justify-content: space-around;
}
.window-buttongroup {
    height: 46px !important;
    align-items: center !important;
}
.mac .window-buttongroup {
    margin-left: 18px !important;
}
.toolbar.toolbar-droptarget.toolbar-mainbar.toolbar-visible.toolbar-large {
    padding: 46px 6px 0px 4px!important;
}
.window-buttongroup {
    height: 46px !important;
    align-items: center !important;
}
.mac .window-buttongroup {
    margin-left: 18px !important;
}
#browser.mac.fullscreen:not(.mac-menubar-permanent).disable-titlebar:not(.native) .window-buttongroup {
    top: 0 !important;
    left: 0px !important;
    opacity: 1 !important;
}
#browser.mac.fullscreen:not(.mac-menubar-permanent).disable-titlebar:not(.native) .mainbar {
    padding-left: 0 !important;
    transform: unset !important;
}
#browser.mac .window-buttongroup {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}
div.toolbar-extensions+div {
    display: none;
}
.minimal-ui div#panels-container ,
.minimal-ui .mainbar{
    display: none !important;
}
.mainbar{
    background-color: transparent!important;
}
#header{
    display: none!important;
}
.address-top .mainbar {
    border-bottom: 0px !important;
}
.mainbar>.toolbar-mainbar {
    height: unset !important;
}

/* Addressbar */
.UrlBar-AddressField {
    min-width: 290px !important;
}
button[title="Reader View"],button[title="Translate Page"],button[title="Enter an address to activate typed history"],button[title="Content Blocker\n• Tracker Blocking Active\n• Ad Blocking Active"],.button-toolbar.ContentBlocker-Control,.pageload-ticker {
    display: none;
}
button.button-addressfield.SiteInfoButton {
    margin-left: 12px !important;
}
.UrlBar-AddressField.button-textonly.below {
    height: 30px !important;    
    margin-bottom: 4px;
    margin-top: 4px;
}

/* Tab */
.newtab {
    display: none !important;
}
#tabs-container .tab.audio-on .favicon {
    transform: initial !important;
}
.tab-audio {/*remove audio indicator*/
    display: none !important;
}
.tab.active {/*active tab*/
    color:var(--colorAccentFg);
    background: var(--colorAccentBg) !important;
}
.tab-position{/*tabs layout*/
    height:42px!important;
    position: initial !important;
    transform: initial !important;
}
.tab{/*tabs layout*/
    margin: 4px 8px!important;
    justify-content: center;
}
.tab-strip {/*tabs layout*/
    display: flex;
    flex-direction: column;
}
.tabbar-workspace-button {/*layout workspace button*/
    background-color: initial!important;
    box-shadow: none!important;
    width: calc(var(--mainbarwidth) - 64px)!important;
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
}
#tabs-tabbar-container {/*remove background*/
    background: none !important;
    box-shadow: none!important;
}
.sync-and-trash-container {/*layout sync trash icon*/
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
}
#tabs-container {
    width: inherit;
}
    

/* Panel */
#panels-container {/*rmeove animation*/
    transition: initial !important;
}
#panels-container:not(.icons) + .tabbar-wrapper {
    display: none!important; /*hide tabbar when panel is open*/
}
.panel-collapse-guard {
    max-width: inherit !important; /*hide panelbar when panel is open*/
}
#switch {
    display: none; /*hide panelbar*/
}
.toolbar-edit-mode div#switch {
    display: flex !important; /*show panelbar when in editmode*/
}
#panels-container.icons {
    width: 0px !important;/*hide panel webview when panel is close*/
}
#panels-container.left:not(.icons) .panel-group, #panels-container.left.icons:not(:has(.SlideBar)) {
    border: 0px!important;
}

/* Startpage */
.startpage-navigation.toolbar-medium {/*startpage navigation*/
    background: transparent;
    box-shadow: none;
}
button.active.button-startpage,.button-startpage.active {/*startpage navigation*/
    border: none !important;
    background-color: var(--colorHighlightBg) !important;
    color: var(--colorHighlightFg) !important;
    border-radius: var(--radiusHalf) !important;
    margin: 8px !important;
}
.startpage-navigation-group {/*hide navigation border*/
    border: none !important;
}
.tree-item {/*round tree row*/
    border-radius: var(--radius);
}
.startpage-content {
    position: absolute!important;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
.history.manager > .toolbar.toolbar-default,
.bookmark.manager > .toolbar.toolbar-default {
    padding-top: 50px;
}
[name="PanelNotes"] {
    display: none !important;
}
.draggable.dial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.thumbnail-favicon {
    height: initial !important;
}

/* Settings */
.settings-sidebar,.settings-content,.manager-content,.manager > .toolbar,.sortselector,.tree-row.folder,.manager-editor{
    background:transparent!important;
    box-shadow: none!important;
}
h2,.TabbedView, .TabbedView-List, .TabbedView-Footer,.sortselector,.manager-editor {
    border: none !important;
}
.toolbar-default .button-toolbar > button:enabled {
    background: var(--colorBgIntense)!important;
}
