/*Structure*/
.tabbar-wrapper .tabbar-wrapper,div#tabs-tabbar-container,.mainbar{
    width: 240px!important;/*Editable*/
}
.inner {
    position: absolute!important;
    width: 100%;
    height: 100%;
}
.tabbar-wrapper .tabbar-wrapper {
    margin-top: 110px;
}
.tab.pinned span.title {
    display: none!important;
}
div#tabs-container {
    min-width: 100%!important;
}
.tab-strip {
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}
.separator {
    position: initial!important;
    transform: initial!important;
}
.tab-position.is-pinned {
    width: initial!important;
    margin-top: 2px!important;
    margin-bottom: 2px!important;
}
.tab-position{
    position: initial!important;
    transform: initial!important;
    padding: 0px!important;
    height: 36px!important;
    margin-left: 2px!important;
    margin-right: 2px!important;
}
.newtab{
    position: initial!important;
    display: none!important;
}
.mainbar {
    border-bottom: initial!important;
    background: initial!important;
}
.toolbar{
    flex-wrap: wrap;
    justify-content: space-around;
}
.UrlBar-AddressField{
    min-width: 220px!important;
} 
.vivaldi{ 
	padding:none!important;
	margin:none!important;
	height: 46px!important;
	width: 46px!important;
    position: absolute!important;
}
.window-buttongroup{
	height: 46px!important;
	align-items: center!important;
}
.mac .window-buttongroup{
	margin-left :18px!important;
}
.toolbar {
    padding: initial!important;
}
button[title="Reader View"], button[title="Translate Page"], button[title="Enter an address to activate typed history"], button[title="Content Blocker\n• Tracker Blocking Active\n• Ad Blocking Active"], .button-toolbar.ContentBlocker-Control, .pageload-ticker, .toolbar.toolbar-small {
	display: none;
}
.tab{
    width:32px!important;
    height:32px!important;
}
span.favicon, button.button-addressfield.SiteInfoButton.secure{
    margin: 7px!important;
}
.tab-header{
    margin: 0px!important;
    padding: 0px!important;
}
span.title {
    padding: 0px!important;
}
.button-toolbar {
    margin: 1px;
}
#tabs-container .tab.audio-on .favicon{
    transform: initial!important;
}
.tab-audio{
    display: none!important;
}
.UrlBar-AddressField.button-textonly.below {
    height: 30px!important;
    border-radius: 15px!important;
}
button.button-addressfield.SiteInfoButton.internal {
    margin-left: 8px!important;
}
.tab.active {
    background: #4d4d4d!important;
    box-shadow: 0px 2px 8px 0px #1c1c1c!important;
}
.tab-position .tab .tab-header{
    flex: initial!important;
}
.toolbar.toolbar-droptarget.toolbar-mainbar.toolbar-visible.toolbar-large{
    padding-left: 4px!important;
    padding-right: 6px!important;
    padding-top: 46px!important;
}