.vivaldi {
    display: none;
}

.tab::after,
.tab::before {
    display: none;
}

#browser.tabs-top #header {
    justify-content: center;
}

#tabs-tabbar-container {
    padding: 0px !important;
}

.mac #tabs-container {
    padding-left: 64px!important;
}

.win #tabs-container {
    padding-left: 4px!important;
}

.tab {
    border-radius: var(--radiusHalf) !important;
}

.color-behind-tabs-off #tabs-tabbar-container {
    border-bottom-width: 0px !important;
}

#tabs-tabbar-container {
    box-shadow: none !important;
}

.tab-position {
    --Width: 30px !important;
    position: inherit;
    transform: inherit;
}

.button-toolbar {
    position: initial;
}

.tab-strip {
    display: flex;
    flex-direction: row;
}

#browser:not(.alt-tabs) #tabs-container .tab:not(.pinned):not(.tab-small).audio-on .favicon {
    transform: initial;
}

span.tab-audio {
    display: none;
}

.win *:not(span) {
    font-family: "Segoe UI", "Noto Sans JP" !important;
}

#main {
    overflow: visible;
}

.UrlBar-AddressField.button-textonly.above {
    transform: translateY(0px) !important;
}
